.reserve{
	background-image: url('../images/reserve/bg-reserve.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #fff;
	background-size: cover;
	text-align: center;
}
.reserve .screen{
	background-color: rgba(0,0,0,.4);
}
.reserve .title,
.reserve .title .subtitle-text{
	color: #fff;
}
.reserve .reserve-layout{
	width: 60%;
	display: inline-block;
	padding: 40px 0px 80px 0px;
}
.reserve .reserve-layout .services{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0px 0px 30px 0px;
}
.reserve .reserve-layout .services .service{
	overflow: hidden;
	position: relative;
	margin: 15px 0px;
	height: auto;
	width: 200px;
	border-radius: 10px;
	border: 3px solid #fff;
}
.reserve .reserve-layout .services .service img{
	width: 100%;
	display: block;
	object-fit: cover;
}
.reserve .reserve-layout .services .service span{
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	padding: 8px;
	text-align: center;
	font-family: Berlin-Sans;
	transform: translateY(20px);
}
.reserve .reserve-layout .services .service:hover span{
	opacity: 1.5;
	transition: .3s;
	transform: translateY(0px);
}

@media only screen and (max-width: 1200px){
	.reserve .reserve-layout .services{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.reserve .reserve-layout .services .service{
		width: 240px;
	}
	.reserve .reserve-layout .services .service span{
		opacity: 1.5;
		transform: translateY(0px);
	}
}
@media only screen and (max-width: 575px){
	.reserve .reserve-layout .description p{
		display: none;
	}
}